@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/*------- General Sitewide Info -------*/

body {
    background-color: #dfdfdf;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

/*------- Navbar -------*/

#band-logo {
    width: 30rem;
    height: 4rem;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
    font-size: 3.5rem;
    margin: 0 3rem;
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
}

#navbarmenu > ul {
    display: inline;
    text-align: center;
}

.navbar-brand {
    margin: auto;
}

.navbar {
    text-align: center;
    background-color: #000000;
}

.navbar-toggler {
    margin-right: 1.3rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #ffffff;
  border-width: 0.2rem;
} 

/*------- Social Links -------*/

.social-links {
    padding-top: 1.2rem;
}

.social-links li a i {
    width: 3rem;
    height: 3rem;
    margin: 0 0.6rem;
    padding: 1rem 0;
    border-radius: 25%;
    font-size: 2.6rem;
    line-height: 1rem;
    text-align: center;
    color: #000000;
    background: #ffffff;
        transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    background-color: #000000;
    color: #ffffff;
    border: solid 0.2rem #ffffff;
}

#social-desktop {
    display: block;
}

#social-mobile {
    display: none;
}

/*------- Footer -------*/

footer {
    background-color: #000000;
    color: #fafafa;
    min-height: 5rem;
    margin: 0;
}

#legal-info {
    margin: 2rem;
    position: absolute;
}

.social-links-footer {
    padding-top: 0.7rem;
    position: absolute;
    right: 2rem;
}

.social-links-footer li a i {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.6rem 0.7rem;
    padding: 0.6rem 0;
    border-radius: 25%;
    font-size: 1.8rem;
    line-height: 1rem;
    text-align: center;
    color: #000000;
    background: #fff;
        transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links-footer li a i:hover {
    background-color: #000000;
    color: #fff;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #fff;
}

/*------- Index.html -------*/

#we-are {
    margin-top: 15rem;
    color: #fff;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    z-index: 2;
    position: relative;
}

#hero-logo {
    width: 80vw;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

#hero-down {
    color: #ffffff;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15rem;
}

.hero-container {
    background: url("../images/hero-image.jpg") no-repeat top right fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-top: 5rem;
}

.initial-container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}

.jumbotron {
    background-color: rgba(0,0,0,.9);
    color: #fff;
    border-style: solid;
    border-color: #fff;
}

.news-and-new-release {
    min-width: 45vw;
    margin-top: 2rem;
}

.tourlist {
    list-style-type: none;
    padding: 0 0 0 0;
}

.tourlist li {
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.jumbotron.about-the-band-jumbo {
    background-color: rgba(0,0,0,.0);
    border-style: none;
}

.releases-header, .news-header, .about-header, .tour-header, .merch-header {
    font-family: 'Russo One', sans-serif;
    font-size: 3.5rem;
    padding: 1rem 0;
    background-color: #000000;
    color: #ffffff;
}

.merch-item-link {
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {

#social-desktop {
    display: none;
}

#social-mobile {
    display: block;
}

#band-logo {
    height: 4rem;
    width: 20rem;
    display: block;
    margin: 0 auto;
}

#legal-info {
    text-align: center;
}

.social-links-footer {
    display: none;
}

#navbarmenu > ul {
    display: inline-flex;
    text-align: center;
    margin-right: 3rem;

}

}

@media only screen and (min-width: 576px) and (max-width: 992px) {

#band-logo {
    width: 24rem;
    height: 4rem;
}
}